[tool.black]
line-length = 120
target-version = ['py38']

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "one_big_thing.settings"
env = [
    "DJANGO_SECRET_KEY=1n53cur3K3y",
    "POSTGRES_PORT=5432",
    "POSTGRES_HOST=localhost",
    "POSTGRES_DB=one-big-thing",
    "POSTGRES_USER=one-big-thing",
    "POSTGRES_PASSWORD=insecure",
    "BASE_URL=http://localhost:8055/",
    "EMAIL_BACKEND_TYPE=FILE",
    "EMAIL_FILE_PATH",
    "/app/mail",
]