{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Log in{% endblock %}

{% load static %}

{% block content %}

{% block title %}
  <title>Login - One Big Thing - GOV.UK</title>
{% endblock %}

  <section class="wrapper">

    <form class="login" method="POST">
    <img src="{% static 'assets/OBT_LOGO.svg' %}" alt="One Big Thing logo"><svg width="1em" height="1em" viewBox="0 0 40 40" fill="currentColor"><use href="/static/assets/OBT_LOGO.svg"></use></svg>
      {% csrf_token %}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Welcome to One Big Thing
          </h1>
        </legend>
        <p class="govuk-body">If you have not created an account yet, then please <a href="{% url 'account_signup' %}">register</a> first.</p>
        <h2 class="govuk-heading-m">Sign in</h2>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_login">
            Email
          </label>
          <input class="govuk-input" id="id_login" name="login" type="email" required>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_password">
            Password
          </label>
          <input class="govuk-input" id="id_password" name="password" type="password" required autocomplete="off">
        </div>

        <div class="govuk-body">
          <p class="govuk-body">By signing in you accept our <a target="_blank" rel="noopener noreferrer" href="#">terms and conditions</a>.</p>
          {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
          {% endif %}
          {% if resend_verification is True and resend_email is not None %}
            <p class="govuk-body">Your account is not verified. <a class="govuk-link" href="{% url 'resend-verify-email' %}?email={{resend_email|urlencode}}">Request a new verification link</a>.</p>
          {% else %}
            <a class="govuk-link" href="{% url 'password-reset' %}">Forgot password?</a>
          {% endif %}
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Sign in
          </button>
        </div>
      </fieldset>
    </form>

  </section>

{% endblock %}
