{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Logout{% endblock %}

{% block content %}

  <section class="wrapper">

    <form class="logout" method="POST" action="{% url 'account_logout' %}">
      {% csrf_token %}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Are you sure you want to logout?
          </h1>
        </legend>

        {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Logout
          </button>
        </div>

    </form>
  </section>

{% endblock %}
