{% extends "account/base.html" %}

{% block head_title %}Reset password{% endblock %}

{% block content %}
<a href="{% url 'homepage' %}" class="govuk-back-link">Back</a>
<form method="POST">
  {% csrf_token %}
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Request password reset
      </h1>
    </legend>
    {{csrf_input}}
    <p class="govuk-body">To reset your password, you will need to provide your email address to receive a password reset verification code.</p>
    <p class="govuk-body">The email address you provide must be associated with this user account.</p>
    <div class="govuk-form-group">
      <label class="govuk-label" for="id_email">
        Email address
      </label>
      <input required class="govuk-input govuk-!-width-one-half" id="id_email" name="email" type="email">
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">Submit request</button>
    </div>
  </fieldset>
</form>
{% endblock %}
