{% extends "account/base.html" %}

{% block head_title %}Password has been reset{% endblock %}

{% block content %}
<a href="{% url 'homepage' %}" class="govuk-back-link">Back</a>
<form method="POST">
  {% csrf_token %}
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Password has been reset
      </h1>
    </legend>
    {{csrf_input}}
    <p class="govuk-body">Your password has successfully been reset. You can now return to the log in page.</p>
    <div class="govuk-button-group">
      <a class="govuk-button" data-module="govuk-button" href="{% url 'homepage' %}">Log in</a>
    </div>
  </fieldset>
</form>
{% endblock %}
