{% extends "account/base.html" %}

{% block head_title %}Register{% endblock %}

{% load static %}

{% block content %}

  <section class="wrapper">
    <img src="{% static 'assets/OBT_LOGO.svg' %}" alt="One Big Thing logo">
    <svg width="1em" height="1em" viewBox="0 0 40 40" fill="currentColor"><use href="/static/assets/OBT_LOGO.svg"></use></svg>

    <div>
      <h1 class="govuk-heading-l">Welcome to One Big Thing</h1>
      <p class="govuk-body">One Big Thing is a learning and development opportunity for all civil servants. This year the theme is data. You'll need to complete this learning by December 2023.</p>
      <p class="govuk-body">For One Big Thing you'll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complete a survey to find your learning level</li>
        <li>do up to 7 hours of learning</li>
        <li>record your learning</li>
        <li>feedback on your experience of One Big Thing</li>
      </ul>
      <p class="govuk-body">By taking part in One Big Thing you'll improve your data skills and confidence, and be comfortable making better use of data in your role.</p>
    </div>

    <form class="login" method="POST">

      {% csrf_token %}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            Register
          </h2>
        </legend>
      <p class="govuk-body">To complete One Big Thing you need to register with your work email address.</p>
          <p class="govuk-body">Already have a One Big Thing account? <a class="govuk-link" href="{% url 'account_login' %}">sign in</a></p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_email">
            Email
          </label>
          <input class="govuk-input" id="id_email" name="email" type="email" autocomplete="off" required>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_password1">
            Password
          </label>
          <input class="govuk-input" id="id_password1" name="password1" type="password" required autocomplete="off">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_password2">
            Password
          </label>
          <input class="govuk-input" id="id_password2" name="password2" type="password" required autocomplete="off">
        </div>
        {% include "account/password_rules.html" %}
        <div class="govuk-form-group {% if 'department' in errors.keys %}error{% endif %}">
          <label class="govuk-label" for="department">Department</label>
          <div id="select-field">
            <select name="department" id="department" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.departments%}selected{% endif %}>Please select a department you belong to</option>
              {% for option in departments %}
                <option value="{{option.0}}" {% if 'department' in data.keys and data.departments == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="govuk-list govuk-list--bullet">
          <ul>
            <li>If you work for more than one department, please choose the one where you spend the most time. If your role is split equally, you can select either department.</li>
          </ul>
        </div>
        <div class="govuk-form-group {% if 'grades' in errors.keys %}error{% endif %}">
          <label class="govuk-label" for="grade">Grade</label>
          <div id="select-field">
            <select name="grade" id="grade" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.grades%}selected{% endif %}>Please select your grade</option>
              {% for option in grades %}
                <option value="{{option.0}}" {% if 'grade' in data.keys and data.grades == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="govuk-form-group {% if 'professions' in errors.keys %}error{% endif %}">
          <label class="govuk-label" for="profession">Primary area of work</label>
          <div id="select-field">
            <select name="profession" id="profession" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.professions%}selected{% endif %}>Please select your primary area of work</option>
              {% for option in professions %}
                <option value="{{option.0}}" {% if 'profession' in data.keys and data.professions == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}

        <p class="govuk-body">By registering you accept our <a target="_blank" rel="noopener noreferrer" href="#">terms and conditions</a>.</p>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Register
          </button>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
