{% extends "account/base.html" %}

{% block head_title %}Register{% endblock %}

{% block content %}

  <section class="wrapper">

    <form class="login" method="POST">
      {% csrf_token %}
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Register
          </h1>
        </legend>
      <p class="govuk-body">You need to register with your work email address.</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_email">
            Email
          </label>
          <input class="govuk-input" id="id_email" name="email" type="email" autocomplete="off" required>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_password1">
            Password
          </label>
          <input class="govuk-input" id="id_password1" name="password1" type="password" required autocomplete="off">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="id_password2">
            Password
          </label>
          <input class="govuk-input" id="id_password2" name="password2" type="password" required autocomplete="off">
        </div>
        <div class="govuk-list govuk-list--bullet">
          <ul>
            <li>8 or more characters</li>
            <li>Cannot be only numbers</li>
            <li>Cannot be any common user information such as email</li>
          </ul>
        </div>
        <div class="govuk-form-group {% if 'department' in errors.keys %}error{% endif %}">
          <label class="govuk-label" for="department">Department</label>
          <div id="select-field">
            <select name="department" id="department" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.departments%}selected{% endif %}>Please select an organisation you belong to</option>
              {% for option in departments %}
                <option value="{{option.0}}" {% if 'department' in data.keys and data.departments == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="govuk-list govuk-list--bullet">
          <ul>
            <li>If you work for more than one Department, please choose the one where you spend the most time. If your role is split equally, you can select either Department.</li>
          </ul>
        </div>
        <div class="govuk-form-group {% if 'grades' in errors.keys %}error{% endif %}">
          <label class="govuk-label" for="grade">Grade</label>
          <div id="select-field">
            <select name="grade" id="grade" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.grades%}selected{% endif %}>Please select your grade</option>
              {% for option in grades %}
                <option value="{{option.0}}" {% if 'grade' in data.keys and data.grades == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="govuk-form-group {% if 'professions' in errors.keys %}error{% endif %}">
          <label class="govuk-label" for="profession">Profession</label>
          <div id="select-field">
            <select name="profession" id="profession" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.professions%}selected{% endif %}>Please select your profession</option>
              {% for option in professions %}
                <option value="{{option.0}}" {% if 'profession' in data.keys and data.professions == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}

        <p class="govuk-body">By registering you accept our <a target="_blank" rel="noopener noreferrer" href="#">terms and conditions</a>.</p>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Register
          </button>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
