{% extends "account/base.html" %}

{% block head_title %}Verify email address{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">
      Verify email address
    </h1>
    {% if verify_result %}
    <p class="govuk-body">
      Your account has been verified, and you should be redirected to the homepage. If you haven't been redirected, then please return to the
      <a class="govuk-link" href="{% url 'account_login' %}">sign in</a> page and sign in to use the
      service.
    </p>
    {% else %}
    <p class="govuk-body">
      An issue has occurred or this request has already been used, please try
      again or contact an administrator if the issue persists.
    </p>
    {% endif %}
{% endblock %}
