<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

  <head>
    <meta charset="utf-8">
    <title>One Big Thing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preload" href="/static/fonts/roboto/roboto-v30-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/fonts/roboto/roboto-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/static/govuk-frontend/assets/images/favicon.ico"
      type="image/x-icon">
    <link rel="mask-icon" href="/static/govuk-frontend/assets/images/govuk-mask-icon.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/static/govuk-frontend/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167"
      href="/static/govuk-frontend/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152"
      href="/static/govuk-frontend/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/static/govuk-frontend/assets/images/govuk-apple-touch-icon.png">

    <link rel="stylesheet" href="/static/govuk-frontend/govuk-frontend-4.3.1.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="mask-icon" href="/static/govuk-frontend/assets/images/govuk-mask-icon.svg" color="blue">
  </head>

  <body class="i-dot-ai govuk-template__body" id="i-dot-ai">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <header class="govuk-header" role="banner" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="/">
            <span class="govuk-header__logotype">
              <img src="{{static('/assets/co_logo_white.svg')}}" alt="Cabinet Office logo"
                class="govuk-header__logotype-crown" />
            </span>
          </a>
        </div>
        {% if DEBUG %}
          <p class="space-warning">
            <strong class="govuk-warning-text">
              {{space_name|upper}} - This is not a live service
            </strong>
          </p>
        {% endif %}
        <div class="govuk-header__content">
          <a href="#" class="govuk-header__link govuk-header__service-name">
            One Big Thing
          </a>
          <nav aria-label="Menu" class="govuk-header__navigation">
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
            <ul id="navigation" class="govuk-header__navigation-list">
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="{{url('homepage')}}">
                  Home
                </a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="{{url('record-learning')}}">
                  Record learning
                </a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/accounts/logout/">
                  Sign out
                </a>
              </li>
            </ul>
          </nav>
      </div>
    </header>

    <div class="govuk-width-container app-width-container">

      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a rapid prototype built by <strong>i.AI</strong>
          </span>
        </p>
      </div>

      <main class="govuk-main-wrapper " id="main-content" role="main">

        {% block content %}
        {% endblock %}
      </main>
    </div>

    <footer class="govuk-footer " role="contentinfo">

      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">

            <h2>Built by</h2>
            <img class="logo" src="{{static('/assets/i-dot-ai.svg')}}" alt="i.AI" />

          </div>
        </div>
      </div>

      <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

            <img src="{{static('/govuk-frontend/assets/images/logo-ogl.svg')}}" alt="Open Goverment Licence"
              class="govuk-footer__licence-logo" />

            <span class="govuk-footer__licence-description">
              All content is available under the
              <a class="govuk-footer__link"
                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open
                Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a class="govuk-footer__link govuk-footer__copyright-logo"
              href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
              Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
