{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block title %}
<title>Delete Learning Record - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">You are about to delete a learning record</h1>
    <div class="govuk-body">
        <p>Are you sure you want to delete?</p>
        <form method="post">{{ csrf_input }}
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="delete-learning">
            Yes
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="cancel">
            Cancel
          </button>
      </form>
    </div>
{% endblock %}