{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block title %}
  <title>Departmental learning offer - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Departmental learning offers</h1>
    <p class="govuk-body">You can use this page to find a link to your department's One Big Thing learning offer.</p>
    <p class="govuk-body">If your department is not listed, you should check your intranet or ask your line manager for information about your department's learning offer.</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Department</th>
          <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Intranet page</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for key, value in data.dept_links.items() %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{key}}</th>
          <td class="govuk-table__cell">{% if value %}<a class="govuk-link govuk-link--long" href="{{value}}">{{value}}</a> {% else %}Intranet link coming soon{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}