{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block content %}
  <h1 class="govuk-heading-l">External testing links</h1>
    <div class="govuk-body">
        <p><a target="_blank" rel="noopener noreferrer" class="govuk-link" href="https://fcogovuk.sharepoint.com/sites/intranet-learning/SitePages/one-big-thing.aspx?OR=Teams-HL&CT=1690986561151&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMzA3MDMwNzMzMCIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D">FCDO</a></p>
        <p><a target="_blank" rel="noopener noreferrer" class="govuk-link" href="https://ukhomeoffice.sharepoint.com/sites/PROC1373/SitePages/Home-Office-Data-Literacy-Hub.aspx?ga=1&OR=Teams-HL&CT=1664443195357&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyNy8yMjA3MzEwMTAwNSIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D">Home Office</a></p>
    </div>
{% endblock %}