{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block content %}
  <h1 class="govuk-heading-l">Welcome to your One Big Thing Learning Record</h1>
  <div>
    <h2 class="govuk-heading-m">Based on your survey we recommend you do this learning first</h2>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        {% for course in special_courses %}
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body">{% if course.link %}<a class="govuk-link" href="{{course.link}}">{{course.title}}</a>{% else %}{{course.title}}{% endif %}</p>
            </div>
            <div class="govuk-grid-column-one-third">
              <a class="govuk-button" href="{{url('record-learning', course.id)}}">Mark as done</a>
            </div>
          </div>
        {% endfor %}
      </main>
    </div>
  </div>
  <div>
    <h2 class="govuk-heading-m">Other learning available for you</h2>
    <p class="govuk-body">Civil Service Learning have put together an <a class="govuk-link" href="#">Additional Learning Catalogue</a> which groups CSL resources by learning level.</p>
    <p class="govuk-body">Your Department might be hosting data events. Check your intranet for the latest news.</p>
  </div>
  <div>
    <h2 class="govuk-heading-m">Your Learning Record</h2>
    <p class="govuk-body">You can <a class="govuk-link" href="{{url('record-learning')}}">record your learning</a> as you work towards your day's worth of data training this autumn.</p>
  </div>
{% endblock %}