{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block content %}
  {% if not request.user.has_completed_pre_survey %}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You haven't completed your initial survey. Please use
          <a class="govuk-notification-banner__link" href="{{url('questions', 'pre')}}">this link</a> to complete it.
        </p>
      </div>
    </div>
  {% endif %}
  {% if not request.user.has_completed_post_survey and request.user.has_completed_required_time() %}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You haven't completed your post-completion survey. Please use
          <a class="govuk-notification-banner__link" href="{{url('questions', 'pre')}}">this link</a> to complete it.
        </p>
      </div>
    </div>
  {% endif %}
  <h1 class="govuk-heading-l">Welcome to your One Big Thing Learning Record</h1>
  <p class="govuk-body">You will do a survey to find out what learning is best for you.</p>
  <p class="govuk-body">Then you'll record how much learning you've done.</p>
  <p class="govuk-body">You're expected to do 7 hours of learning before the end of the year.</p>
  <p class="govuk-body">When you have completed your 7 hours of learning you will submit it to record what you've done.</p>
  <p class="govuk-body">Next you'll complete a survey to understand what skills and experience you have about data before doing the learning.</p>
  <p class="govuk-body">This survey will recommend learning based on your level which will take 1 and a half hours. After completing that you will have...</p>
{% endblock %}