{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block content %}
  <h1 class="govuk-heading-l">One Big Thing Survey</h1>
  <div class="govuk-body">
      <p>Thank you for recording your learning.</p>
      <p>Your final task is to complete a survey about your experience of One Big Thing.</p>
      <p>It should take you 10 minutes to complete the survey.</p>
      <p>Your answers will help shape future learning and development for civil servants. You'll also be helping the One Big Thing team understand what's worked well, and what could be improved next year.</p>
      <a class="govuk-button" href="{{url('questions', 'post')}}">Start</a>
    </form>
  </div>
{% endblock %}
