{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block title %}
<title>Pre Survey - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}
  <img src="{{static('assets/OBT_LOGO.svg')}}" alt="One Big Thing logo">
  <h1 class="govuk-heading-l">Welcome</h1>
  <div class="govuk-body">
      <p>Thank you for registering for One Big Thing.</p>
      <p>Your first task is to complete a survey about your experience with data.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is data
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The word 'data' is used to describe a collection of facts or figures.</p>
          <p>We collect a lot of facts and figures in government - prices, weights, addresses, ages, names, temperatures, dates, distances.</p>
          <p>When we organise, analyse and interpret this data it can help us develop a clear picture of a situation. We can then use it to make more accurate, informed decisions.</p>
        </div>
      </details>

      <p>It should take you 5 minutes to complete the survey. There are {{number_questions}} questions.</p>
      <p>At the end of the survey you will be given a learning level and directed towards learning resources.</p>

      <p>Your answers will help shape future learning and development for civil servants. You'll also be helping the One Big Thing team understand what's worked well, and what could be improved next year.</p>
      <a class="govuk-button" href="{{url('questions', 'pre')}}">Start</a>
  </div>
{% endblock %}


