{% extends "base_generic_gov.html" %}

{% block title %}
  <title>Sign in - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}

  <section class="wrapper">
    <img src="{{static('assets/OBT_LOGO.svg')}}" alt="One Big Thing logo">
    <svg width="1em" height="1em" viewBox="0 0 40 40" fill="currentColor"><use href="/static/assets/OBT_LOGO.svg"></use></svg>

    <div>
      <h1 class="govuk-heading-l">Welcome to One Big Thing</h1>
      <p class="govuk-body">One Big Thing is a learning and development opportunity for all civil servants. This year the aim is to improve your data skills and confidence. You'll need to complete this learning by December 2023.</p>
      <p class="govuk-body">For One Big Thing you'll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>complete a survey to find your learning level</li>
        <li>do 7 hours of learning</li>
        <li>record your learning</li>
        <li>feedback on your experience of One Big Thing</li>
      </ul>
    </div>

    <form class="login" method="POST">
      {{csrf_input}}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            Sign in
          </h2>
        </legend>
        <p class="govuk-body">To complete One Big Thing, you'll need to enter your work email address below and we'll send you a link to sign in to your One Big Thing account. Each time you need to sign in (to record learning, or feedback on your One Big Thing experience), come back to this page and we'll send you a new link. You do not need a password.</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="id_email">
            Email
          </label>
          <input class="govuk-input" id="id_email" name="email" type="email" autocomplete="off" required>
        </div>

        <p class="govuk-body">By signing in you accept our <a href="{{url('privacy-notice')}}" class="govuk-link">privacy notice</a>.</p>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" type="submit">
            Submit
          </button>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
