{% extends "base_generic_gov.html" %}

{% block title %}
  <title>Login error - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    Login failed
  </h1>
  <ul class="govuk-list govuk-list--number">
    <li>
      You can <a class="govuk-link" href="{{url('index')}}">create a new link</a> by entering your email address.
    </li>
    <li>
      If that doesn’t work then <a class="govuk-link" href="{{url('index')}}">create a new link</a>, copy the link from the email and paste it into your browser.
    </li>
    <li>
      If that doesn’t work then try a different browser, for example Google Chrome, Microsoft Edge or Mozilla Firefox.
    </li>
  </ul>
  <p class="govuk-body">If you see this message again then please <a class="govuk-link" href="{{url('support')}}">contact us</a>.</p>
  {% endblock %}
