{% macro input(name, label, data={}, errors={}, type="text") -%}
  {% if errors.get(name) %}
    {% if errors.get(name) is iterable and errors.get(name) is not string and errors.get(name) is not number %}
      {% for error in errors.get(name) %}
        <p id="question-{{name}}-error-{{loop.index}}" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{error}}
        </p>
      {% endfor %}
    {% else %}
    <p id="question-{{name}}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{errors.get(name)}}
    </p>
    {% endif %}
  {% endif %}
  <div class="govuk-form-group {{errors.get(name) and 'govuk-form-group--error' or ''}}">
    <label class="govuk-label" for="question-{{name}}">
      {{label}}
    </label>
    {% if errors.get(name) %}
      <input class="govuk-input govuk-input--error" id="question-{{name}}" name="{{name}}" type="{{type}}" {% if errors.get(name) %} aria-describedby="question-{{name}}-error" {% endif %} autocomplete="off" value="{{data.get(name, '')}}">
    {% else %}
      <input class="govuk-input" id="question-{{name}}" name="{{name}}" type="{{type}}" {% if errors.get(name) %} aria-describedby="question-{{name}}-error" {% endif %} autocomplete="off" value="{{data.get(name, '')}}">
    {% endif %}
    </div>
{%- endmacro%}


{% macro textarea(name, label, hint="", data={}, errors={}, type="text") -%}
  {% if errors.get(name) %}
    <p id="question-{{name}}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{errors.get(name)}}
    </p>
  {% endif %}
  <div class="govuk-form-group {{errors.get(name) and 'govuk-form-group--error' or ''}}">
    <label class="govuk-label" for="question-{{name}}">
      {{label}}
    </label>
    <div id="{{name}}-hint" class="govuk-hint">
      {{hint}}
    </div>
    {% if errors.get(name) %}
      <textarea class="govuk-textarea govuk-input--error" id="question-{{name}}" name="{{name}}" type="{{type}}" {% if errors.get(name) %} aria-describedby="question-{{name}}-error" {% endif %} autocomplete="off">{{data.get(name, '')}}</textarea>
    {% else %}
      <textarea class="govuk-textarea" id="question-{{name}}" name="{{name}}" type="{{type}}" {% if errors.get(name) %} aria-describedby="question-{{name}}-error" {% endif %} autocomplete="off">{{data.get(name, '')}}</textarea>
    {% endif %}
  </div>
{%- endmacro%}


{% macro warning(msg) %}
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      {{msg}}
    </strong>
  </div>
{%- endmacro%}


{% macro radios(name, options, data, errors) -%}
  {% if errors.get(name) %}
    <p id="question-{{name}}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{errors.get(name)}}
    </p>
  {% endif %}
  <div id="question-{{name}}" class="govuk-radios" data-module="govuk-radios">
    {% for option in options %}
      {% if option is string %}
        {% set value, label = option, option %}
      {% elif option is mapping %}
        {% set value, label = option.value, option.label %}
      {% else %}
        {% set value, label = option %}
      {% endif %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{name}}-option-{{slugify(value)}}" name="{{name}}" type="radio" value="{{value}}" {{is_checked(data, name)}} aria-describedby="{{name}}-option-{{slugify(value)}}-hint">
        <label class="govuk-label govuk-radios__label" for="{{name}}-option-{{slugify(value)}}">
          {{label}}
        </label>
        {% if option is mapping %}
          {% if option.hint %}
            <div id="{{name}}-option-{{slugify(value)}}-hint" class="govuk-hint govuk-radios__hint">
              {{option.hint}}
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{%- endmacro%}


{% macro checkboxes(name, label, options, data, errors) -%}
  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    {% for option in options %}
      {% if errors.get(option[0]) %}
        <p id="question-{{option[0]}}-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{errors.get(option[0])}}
        </p>
      {% endif %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="{{option[0]}}" name="{{name}}" type="checkbox"  value=True {{is_checked(data, name, option[0])}} aria-describedby="{{option[0]}}-hint">
        <label class="govuk-label govuk-checkboxes__label" for="{{option[0]}}-option-{{slugify(value)}}">
          {{option[1]}}
        </label>
      </div>
    {% endfor %}
  </div>
{%- endmacro%}


{% macro form_wrapper(prev_url, button_label="Continue") -%}
  {% if prev_url %}
    <a href="{{prev_url}}" class="govuk-back-link">Back</a>
  {% endif %}
  {% if errors %}
    {{error_summary(errors)}}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post" novalidate>
        {{csrf_input}}

        {{caller()}}

        <button class="govuk-button" data-module="govuk-button">
          {{button_label}}
        </button>
      </form>
    </div>
  </div>
{%- endmacro%}


{% macro select_from_list(name, label, list, empty_option=DEFAULT) -%}
  {{select(name, label, list_to_options(list), empty_option="Please choose one...")}}
{%- endmacro %}

{% macro select(name, label, options, empty_option=DEFAULT) -%}

  <div class="govuk-form-group {{errors.get(name) and 'error'}}">
    <label class="govuk-label" for="{{name}}">{{label}}</label>
    <div id="select-field">
      <select name="{{name}}" id="{{name}}" class="govuk-select govuk-!-width-full">
        {% if not empty_option is sameas DEFAULT %}
          <option value="" disabled {{is_empty_selected(data, name)}}>{{empty_option}}</option>
        {% endif %}
        {% for option in options %}
          <option value="{{option.value}}" {{is_selected(data, name, option.value)}}>{{option.text}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{%- endmacro %}

{% macro error_summary(errors) -%}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
        {% for key, value in errors.items() %}
          {% if value is iterable and value is not string and value is not number %}
              {% for inner_error in value %}
                <p id="question-{{value}}-error-{{loop.index}}" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{inner_error}}
                </p>
              {% endfor %}
            {% else %}
            <p id="question-{{key}}-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{value}}
            </p>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{%- endmacro%}

{% macro likely_1_5(question, loop, help_text="") -%}
  {{question_1_5(question, answer_labels['likely-1-5'], help_text, loop)}}
{%- endmacro %}

{% macro agree_1_5(question, loop, help_text="") -%}
  {{question_1_5(question, answer_labels['agree-1-5'], help_text, loop)}}
{%- endmacro %}

{% macro question_1_5(question, labels, help_text, loop) -%}

  {% if not (loop.previtem and loop.previtem.answer_type == question.answer_type) %}
    {% if help_text %}
      <div class="i-ai-range custom-help-text govuk-body">
        <p>{{help_text}}</p>
      </div>
    {% endif %}
  {% endif %}

  <div class="i-ai-range govuk-form-group">
    <span>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          {{question.text}}
        </h2>
      </legend>

      {% if errors[question.id] %}
        <p id="where-do-you-live-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{errors[question.id]}}
        </p>
      {% endif %}

      {% if question.hint %}
        <div class="govuk-hint">
          {{question.hint}}
        </div>
      {% endif %}
    </span>

    <div class="govuk-radios govuk-radios--small " data-module="govuk-radios">
      {% for i, label in labels.items() %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{question.id}}-{{i}}" name="{{question.id}}" type="radio" value="{{i}}" {{(data.get(question.id)==i) and "checked" or ""}}/>
          <label class="govuk-label govuk-radios__label" for="{{question.id}}-{{i}}">{{label}}</label>
        </div>
      {% endfor %}
    </div>
  </div>

{%- endmacro%}

{% macro question_radios(question) -%}
  <div class="govuk-form-group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"><h2 class="govuk-fieldset__legend govuk-fieldset__legend--l">{{question.text}}</h2></legend>

    {% if errors[question.id] %}
      <p id="{{question.id}}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{errors[question.id]}}
      </p>
    {% endif %}

    <div class="govuk-radios" data-module="govuk-radios">
      {% for answer in answer_labels[question.id].items() %}
        <div class="govuk-radios__item">
          <input required class="govuk-radios__input" id="{{question.id}}-{{answer[0]}}" name="{{question.id}}" type="radio" value="{{answer[0]}}">
          <label class="govuk-label govuk-radios__label" for="{{question.id}}-{{answer[0]}}">{{answer[1]}}</label>
        </div>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% macro checkboxes(question) -%}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="{{question.id}}-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-fieldset__heading">
        {{question.text}}
      </h2>
    </legend>
    <div id="{{question.id}}-hint" class="govuk-hint">
      Select all that apply.
    </div>
    {% if errors[question.id] %}
      <p id="{{question.id}}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{errors[question.id]}}
      </p>
    {% endif %}
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      {% for answer in answer_labels[question.id].items() %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" {% if answer[0] in data.get(question.id, []) %} checked {% endif %} id="{{question.id}}-{{answer[0]}}" name="{{question.id}}" type="checkbox" value="{{answer[0]}}">
          <label class="govuk-label govuk-checkboxes__label" for="{{question.id}}-{{answer[0]}}">
            {{answer[1]}}
          </label>
        </div>
      {% endfor %}
    </div>
  </fieldset>
</div>
{%- endmacro %}

{% macro question_textarea(question) -%}
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="{{question.id}}">
      {{question.text}}
    </label>
  </h1>
  {% if errors[question.id] %}
      <p id="{{question.id}}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{errors[question.id]}}
      </p>
    {% endif %}
  <div id="question.title" class="govuk-hint">
    Please enter your information below.{% if question.max_length %} Max {{question.max_length}} characters.{% endif %}
  </div>
  <textarea class="govuk-textarea" {% if question.max_length %}maxlength="{{question.max_length}}"{% endif %} id="{{question.id}}" name="{{question.id}}" rows="5" aria-describedby="{{question.id}}-hint">{{data.get(question.id, "")}}</textarea>
</div>
{%- endmacro %}
