{% extends "base_generic_gov.html" %}

{% block title %}
  <title>About you - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}

  <section class="wrapper">

    <form method="POST">
      {{csrf_input}}

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h2 class="govuk-fieldset__heading">
            About you
          </h2>
        </legend>
        <div class="govuk-form-group {% if 'department' in errors.keys() %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="department">Which government department do you work for?</label>
          {% if 'department' in errors.keys() %}
            <p id="department-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors["department"] }}
            </p>
          {% endif %}
          <div id="select-department">
            <select name="department" id="department" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.department%}selected{% endif %}>Please select a department you belong to</option>
              {% for option in departments %}
                <option value="{{option.0}}" {% if 'department' in data.keys() and data.department == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="govuk-list govuk-list--bullet">
          <ul>
            <li>If you work for more than one department, please choose the one where you spend the most time. If your role is split equally, you can select either department.</li>
          </ul>
        </div>
        <div class="govuk-form-group {% if 'grades' in errors.keys() %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="grade">What is your grade?</label>
          {% if 'grade' in errors.keys() %}
            <p id="grade-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors["grade"] }}
            </p>
          {% endif %}
          <div id="select-grade">
            <select name="grade" id="grade" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.grade%}selected{% endif %}>Please select your grade</option>
              {% for option in grades %}
                <option value="{{option.0}}" {% if 'grade' in data.keys() and data.grade == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="govuk-form-group {% if 'professions' in errors.keys() %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="profession">What is your primary area of work?</label>
          {% if 'profession' in errors.keys() %}
            <p id="profession-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors["profession"] }}
            </p>
          {% endif %}
          <div id="select-profession">
            <select name="profession" id="profession" class="govuk-select govuk-!-width-full">
              <option value="" disabled class="govuk-button--disabled" {% if not data.profession%}selected{% endif %}>Please select your primary area of work</option>
              {% for option in professions %}
                <option value="{{option.0}}" {% if 'profession' in data.keys() and data.profession == option.0 %}selected{% endif %}>{{option.1}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {% if completed %}
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Submit
            </button>
          </div>
        {% else %}
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Next
            </button>
          </div>
        {% endif %}
      </fieldset>
    </form>
  </section>
{% endblock %}
