{% extends "base_generic_gov.html" %}
{% import "macros.html" as macros with context%}


{% block content %}
{% if page_number > 1 %}
  <a class="govuk-back-link" href="{{url('questions', survey_type, page_number-1)}}">Back</a>
{% endif %}
{#  {{ section }}#}
  {% call macros.form_wrapper(prev_url, "Next") -%}
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-l">
          {{ section.title }}
        </h1>
      </legend>
      {% for question in section.questions %}
        {% if question.answer_type == "competency" %}
          <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Please select your level of competency with data topics:</legend>

                {% if errors[question.id] %}
                  <p id="competency-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{errors[question.id]}}
                  </p>
                {% endif %}

                <div class="govuk-radios" data-module="govuk-radios">
                  {% for competency in competencies %}
                    <div class="govuk-radios__item">
                      <input required class="govuk-radios__input" id="competency-{{competency.label}}" name="competency" type="radio" value="{{competency.label}}">
                      <label class="govuk-label govuk-radios__label" for="competency-{{competency.label}}">{{competency.name}}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
        {% elif question.answer_type == "agree-1-5" %}
            {{macros.agree_1_5(question, loop)}}
        {% endif %}
      {% endfor %}
    </fieldset>
  {%- endcall %}
{% endblock %}