{% extends "base_generic_gov.html" %}
{% import "macros.html" as macros with context%}


{% block content %}
{% if page_number > 1 %}
  <a class="govuk-back-link" href="{{url('questions', survey_type, page_number-1)}}">Back</a>
{% endif %}
  {% call macros.form_wrapper(prev_url, "Next") -%}
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-l">
          {{ section.title }}
        </h1>
      </legend>
      {% for question in section.questions %}
        {% if question.answer_type == "radio" %}
          {{macros.question_radios(question)}}
        {% elif question.answer_type == "checkboxes" %}
          {{macros.checkboxes(question)}}
        {% elif question.answer_type == "agree-1-5" %}
            {{macros.agree_1_5(question, loop)}}
        {% elif question.answer_type == "likely-1-5" %}
            {{macros.likely_1_5(question, loop)}}
        {% elif question.answer_type == "textarea" %}
          {{macros.question_textarea(question)}}
        {% endif %}
      {% endfor %}
    </fieldset>
  {%- endcall %}
{% endblock %}