{% import "macros.html" as macros with context %}
{% extends "base_generic_gov.html" %}

{% block content %}
  {% if not request.user.has_completed_required_time() and not request.user.has_marked_complete %}
    <div class="govuk-notification-banner" role="region"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Hours done
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You have completed {{(data.time_completed // 60) | int}} hours {{(data.time_completed % 60.0) | int}} minutes so far.
        </p>
      </div>
    </div>
  {% elif request.user.has_completed_required_time() and not request.user.has_marked_complete %}
    <h2 class="govuk-heading-m">Now that you've completed 7 hours you can mark your One Big Thing learning as complete.</h2>
    <a class="govuk-button govuk-button--secondary" href="{{url('complete-hours')}}">Mark One Big Thing as complete</a>
  {% else %}
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You've now completed your One Big Thing!
      </h1>
      <div class="govuk-panel__body">
        Thank you for marking your required learning time as complete.
      </div>
    </div>
  {% endif %}
  {% call macros.form_wrapper(prev_url, "Save") -%}
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-l">
          Record learning I've done:
        </h1>
      </legend>
      {{macros.input('title', 'Title of learning', data, errors)}}
      {{macros.input('time_to_complete', 'How long it took (minutes)', data, errors, type="number")}}
      {{macros.input('link', 'URL (optional)', data, errors, type="url")}}
      {{macros.select_from_list('learning_type', 'Format (optional)', data.learning_types)}}
    </fieldset>
  {%- endcall %}
        <h1 class="govuk-heading-l">
          Learning I've recorded:
        </h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Title</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Duration (Hours)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for course in data.courses %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{% if course.link | length > 0 %}<a href="{{course.link}}" target="_blank" rel="noopener noreferrer">{{course.title}}</a>{% else %}{{course.title}}{% endif %}</th>
          <td class="govuk-table__cell">{{course.get_learning_type_display_name()}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{(course.time_to_complete // 60) | int}}:{% if (course.time_to_complete % 60.0) | int < 10 %}0{{(course.time_to_complete % 60.0) | int}}{% else %}{{(course.time_to_complete % 60.0) | int}}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}