{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block title %}
  <title>Support - One Big Thing - GOV.UK</title>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Support</h1>
  <span class="govuk-caption-l">Find out about the One Big Thing website, including how to sign in and use your One Big Thing account.</span>
  <br>
  <h2 class="govuk-heading-m">User guide</h2>
  <p class="govuk-body">You can download the <a href="/static/UserGuide-OBT.pdf" class="govuk-link">One Big Thing User Guide (PDF, 1.1MB)</a>, a step-by-step guide to signing in and using your One Big Thing account.</p>

  <h2 class="govuk-heading-m">Accessing One Big Thing</h2>
  <p class="govuk-body">You can access your One Big Thing account by visiting <a href="https://onebigthing.civilservice.gov.uk" class="govuk-link">onebigthing.civilservice.gov.uk</a>. You'll need to type your work email address in the box provided and select the submit button.</p>
  <p class="govuk-body">You do not need a password. Instead, we'll send you a link to sign in.</p>
  <p class="govuk-body">Each time you visit <a href="https://onebigthing.civilservice.gov.uk" class="govuk-link">onebigthing.civilservice.gov.uk</a> you'll need to enter your email address again and we'll send you a new link to sign in.</p>

  <h2 class="govuk-heading-m">Signing in</h2>
  <p class="govuk-body">If you're having trouble signing in to the One Big Thing platform, check that:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>you're using your work email address</li>
    <li>you've typed your work email address correctly</li>
  </ul>

  <p class="govuk-body">You should check your junk or spam folder for an email from One Big Thing.</p>

  <p class="govuk-body">If you're still having trouble, ask your line manager for support. If the user guide doesn't have the answer then you can contact us using the details at the bottom of this page.</p>

  <h2 class="govuk-heading-m">Email address not allowed</h2>
  <p class="govuk-body">If you see the error message: "Currently you need a Civil Service email address to register", contact us using the details at the bottom of this page and include the name of your organisation.</p>

  <h2 class="govuk-heading-m">Bug or site vulnerability</h2>
  <p class="govuk-body">If you've found an issue or a vulnerability, contact us using the details at the bottom of this page including as much information as possible.</p>

  <h2 class="govuk-heading-m">Website not loading</h2>
  <p class="govuk-body">If the website is not loading, please close the browser tab and try again later.</p>

  <h2 class="govuk-heading-m">Choosing a different learning level</h2>
  <p class="govuk-body">You cannot change the learning level recommended to you, but you can choose to complete a course marked as suitable for any of the learning levels:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Level 1 - Awareness</li>
    <li>Level 2 - Working </li>
    <li>Level 3 - Practitioner</li>
  </ul>

  <p class="govuk-body">These can be accessed from your One Big Thing account under the heading "See e-learning for all learning levels"</p>

  <h2 class="govuk-heading-m">Completing One Big Thing</h2>
  <p class="govuk-body">One Big Thing is encouraging all civil servants to complete 7 hours of learning on the topic of data. </p>
  <p class="govuk-body">You should talk to your line manager to decide how much learning you want to complete. </p>
  <p class="govuk-body">You can use the Record Learning page on your One Big Thing account to keep track of the learning you've done. </p>
  <p class="govuk-body">When you've reached your learning target, you'll need to return to your One Big Thing account and select the feedback button at the bottom of the overview page. </p>
  <p class="govuk-body">You'll be asked to complete a survey about your experience of One Big Thing and your data confidence. </p>
  <p class="govuk-body">When you get to the end of the survey you'll have completed One Big Thing.</p>

  <h2 class="govuk-heading-m">Signing into Civil Service Learning:</h2>
  <p class="govuk-body">One Big Thing is not part of Civil Service Learning, but your One Big Thing account does include links to Civil Service Learning courses.</p>
  <p class="govuk-body">If you cannot login to Civil Service Learning, you can contact the Civil Service Learning helpdesk on <a href="tel:=442036407985" class="govuk-link">020 3640 7985</a> or by email on <a href="mailto:support@governmentcampus.co.uk" class="govuk-link">support@governmentcampus.co.uk</a>.</p>
  <p class="govuk-body">The helpdesk phone service is available Monday to Friday 8:30am to 5:30pm except all UK bank holidays.</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h2 class="govuk-heading-m">Contact us:</h2>
  <p class="govuk-body">If you've read the information above but haven't been able to find a solution to your problem, please email us at <a href="mailto:obt-platform-support@cabinetoffice.gov.uk" class="govuk-link">obt-platform-support@cabinetoffice.gov.uk</a> including as much information as possible.</p>

{% endblock %}
