{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

{% block content %}
  <h1 class="govuk-heading-l">Courses</h1>

  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Title</th>
      <th scope="col" class="govuk-table__header">Awareness</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Duration (Hours)</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for course in data.courses %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{% if course.link %}<a href="{{course.link}}" target="_blank" rel="noopener noreferrer">{{course.title}}</a>{% else %}{{course.title}}{% endif %}</th>
      <th scope="row" class="govuk-table__header">{{course.competency_level or "Any"}}</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{humanize_timedelta(course.time_to_complete)}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}